apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Flux components (added by flux bootstrap)
  - flux-system/gotk-components.yaml
  - flux-system/gotk-sync.yaml

  # Infrastructure managed by Flux
  - ../../../infrastructure/base/namespaces
  - ../../../infrastructure/base/storage
  - ../../../infrastructure/base/external-secrets
  - ../../../infrastructure/base/flux-notifications
  - ../../../infrastructure/base/monitoring
  - ../../../infrastructure/base/observability
