---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sabnzbd
  labels:
    app: sabnzbd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`sabnzbd.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: sabnzbd
          port: 8080
