apiVersion: v1
kind: Service
metadata:
  name: onepassword-connect
  namespace: external-secrets
  labels:
    app: onepassword-connect
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: onepassword-connect
