---
# Kometa base configuration
# Secrets (TMDB key, Plex token) injected via environment variables
apiVersion: v1
kind: ConfigMap
metadata:
  name: kometa-config
  labels:
    app: kometa
data:
  config.yml: |
    libraries:
      Movies:
        collection_files:
          - default: basic
          - default: imdb
        overlay_files:
          - default: resolution
          - default: audio_codec
          - default: ribbon
      TV Shows:
        collection_files:
          - default: basic
          - default: imdb
        overlay_files:
          - default: resolution
          - default: audio_codec
          - default: ribbon

    settings:
      cache: true
      cache_expiration: 60
      asset_directory: /config/assets
      asset_folders: true
      create_asset_folders: true
      sync_mode: sync
      minimum_items: 1
      delete_below_minimum: true
      delete_not_scheduled: false
      run_again_delay: 2
      missing_only_released: false
      only_filter_missing: false
      show_missing: true
      save_report: true
      tvdb_language: eng
      item_refresh_delay: 0
      playlist_sync_to_users: all

    plex:
      url: http://plex.media.svc.cluster.local:32400
      token: <<PLEX_TOKEN>>

    tmdb:
      apikey: <<TMDB_APIKEY>>
      language: en
      region: US
      cache_expiration: 60
