---
apiVersion: v1
kind: Service
metadata:
  name: libation
  labels:
    app: libation
    app.kubernetes.io/name: libation
    app.kubernetes.io/part-of: arr-stack
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: libation
