apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - externalsecret.yaml
  - deployment.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: infrastructure
      app.kubernetes.io/component: dns
