---
# IngressRoute for Grafana managed by grafana-operator
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`grafana.talos00`)
      services:
        - name: grafana-service
          port: 3000
