---
# Kustomization for Traefik ingress controller
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./infrastructure/base/traefik
  prune: true
  wait: true
  timeout: 10m
  dependsOn:
    - name: namespaces
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
