---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - otel-operator/
  # tempo-operator removed - requires cert-manager
  # Using Tempo Helm chart directly instead
