---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pterodactyl-redis
  labels:
    app: pterodactyl-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pterodactyl-redis
  template:
    metadata:
      labels:
        app: pterodactyl-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 256Mi
          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
