---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - helmrelease.yaml
  - trust-manager.yaml
  # cluster-issuer.yaml moved to cert-manager-issuers/ - depends on cert-manager CRDs
