---
apiVersion: v1
kind: Namespace
metadata:
  name: home-automation
  labels:
    app.kubernetes.io/part-of: home-stack
    # Privileged for USB device access (Bluetooth dongle)
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
    # Enable Goldilocks resource recommendations
    goldilocks.fairwinds.com/enabled: 'true'
