---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: monitoring-stack
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: monitoring-stack
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`prometheus.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-prometheus
          port: 9090
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: monitoring-stack
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`alertmanager.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-alertmanager
          port: 9093
