---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jellyfin
  labels:
    app: jellyfin
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`jellyfin.talos00`)
      kind: Rule
      services:
        - name: jellyfin
          port: 8096
