---
# MongoDB values for Graylog

auth:
  enabled: false  # Graylog doesn't require auth for local MongoDB

architecture: standalone

persistence:
  enabled: true
  storageClass: local-path
  size: 20Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi
