---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homeassistant
  labels:
    app: homeassistant
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`homeassistant.talos00`)
      kind: Rule
      services:
        - name: homeassistant
          port: 8123
