apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - helmrelease.yaml
  - service-internal.yaml
  - middlewares.yaml
  - tlsstore.yaml
# Note: ${DOMAIN} substitution is handled by Flux postBuild from cluster-settings ConfigMap
# The variable ${DOMAIN} in helmrelease.yaml will be replaced during Flux reconciliation
