---
# Default TLS certificate for all IngressRoutes
# Uses the Let's Encrypt wildcard certificate for *.knowledgedump.space
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: traefik
spec:
  defaultCertificate:
    secretName: knowledgedump-wildcard-tls
