---
# ExternalSecret to pull GitHub PAT from 1Password and create docker-registry secret
# TODO: bump this up one directory to the scratch namespace not hte scratch/grpc-example
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ghcr-secret
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: ghcr-secret
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "ghcr.io": {
                "username": "thebranchdriftcatalyst",
                "password": "{{ .token }}",
                "auth": "{{ printf "%s:%s" "thebranchdriftcatalyst" .token | b64enc }}"
              }
            }
          }
  data:
    - secretKey: token
      remoteRef:
        key: github-pat
        property: credential
