apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - secret.yaml
  - init-job.yaml

labels:
  - pairs:
      app.kubernetes.io/component: database
      app.kubernetes.io/part-of: arr-stack
