---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nebula

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  # Secret created manually via script (contains sensitive certs)
  # - secret.yaml

commonLabels:
  app.kubernetes.io/part-of: nebula-mesh
