---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: overseerr
  labels:
    app: overseerr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`overseerr.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: overseerr
          port: 5055
