---
apiVersion: v1
kind: Service
metadata:
  name: overseerr
  labels:
    app: overseerr
    app.kubernetes.io/name: overseerr
    app.kubernetes.io/part-of: arr-stack
spec:
  type: ClusterIP
  ports:
    - port: 5055
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: overseerr
