apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infrastructure

resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml

commonLabels:
  app.kubernetes.io/name: catalyst-dns-sync
  app.kubernetes.io/part-of: infrastructure
