---
# whoami with Authelia authentication - test e2e TLS + auth flow
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`whoami.knowledgedump.space`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: authentik
      services:
        - name: whoami
          port: 80
  tls: {}  # Uses TLSStore default certificate
---
# HTTP redirect to HTTPS
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami-http
  namespace: default
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`whoami.knowledgedump.space`)
      kind: Rule
      middlewares:
        - name: redirect-https
          namespace: traefik
      services:
        - name: whoami
          port: 80
