---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prowlarr
  labels:
    app: prowlarr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`prowlarr.talos00`)
      kind: Rule
      services:
        - name: prowlarr
          port: 9696
