---
# Homepage Bookmarks Configuration
# Documentation: https://gethomepage.dev/configs/bookmarks/

- Documentation:
    - Kubernetes Docs:
        - icon: kubernetes.png
          href: https://kubernetes.io/docs/
          description: Official K8s Documentation

    - Talos Linux:
        - icon: https://www.talos.dev/images/logo.svg
          href: https://www.talos.dev/
          description: Talos OS Documentation

    - Homepage Docs:
        - icon: homepage.png
          href: https://gethomepage.dev/
          description: Homepage Dashboard Docs

- GitHub Repos:
    - This Repo:
        - icon: github.png
          href: https://github.com/TheBranchDriftCatalyst/talos-homelab
          description: Talos Homelab Repository

    - Catalyst DevSpace:
        - icon: github.png
          href: https://github.com/TheBranchDriftCatalyst/catalyst-devspace
          description: Main Development Workspace

- Tools:
    - Traefik Docs:
        - icon: traefik.png
          href: https://doc.traefik.io/traefik/
          description: Traefik Documentation

    - ArgoCD Docs:
        - icon: argocd.png
          href: https://argo-cd.readthedocs.io/
          description: ArgoCD Documentation

    - Helm Hub:
        - icon: helm.png
          href: https://artifacthub.io/
          description: Artifact Hub
