---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: tautulli
  labels:
    app: tautulli
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`tautulli.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: tautulli
          port: 8181
