---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - rbac.yaml
  - cronjob.yaml
# Note: GrafanaDashboard for this job is in monitoring/grafana-dashboards/pod-cleanup.yaml
