---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: tdarr
  labels:
    app: tdarr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`tdarr.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: tdarr
          port: 8265
