---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: readarr
  labels:
    app: readarr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`readarr.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: readarr
          port: 8787
