---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - helmrelease.yaml
  # NOTE: grafana-datasource.yaml moved to monitoring namespace
  # to match Grafana instance selector
