---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: linkwarden
  labels:
    app: linkwarden
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`linkwarden.talos00`)
      services:
        - name: linkwarden
          port: 3000
