---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: plex
  labels:
    app: plex
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`plex.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: plex
          port: 32400
