---
# Graylog IngressRoute - temporarily removed for migration to HelmRelease
# Will be re-added when Graylog HelmRelease is deployed
---
# Grafana IngressRoute (monitoring namespace)
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
---
# Prometheus IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
  labels:
    app.kubernetes.io/name: prometheus
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`prometheus.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-prometheus
          port: 9090
---
# Alertmanager IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/name: alertmanager
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`alertmanager.talos00`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-alertmanager
          port: 9093
