---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage
  labels:
    app: homepage
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`home.talos00`)
      kind: Rule
      services:
        - name: homepage
          port: 3000
