---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`sonarr.${CLUSTER_DOMAIN}`)
      kind: Rule
      services:
        - name: sonarr
          port: 8989
