apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - ingressroute.yaml

commonLabels:
  app.kubernetes.io/component: tv-automation
  app.kubernetes.io/part-of: arr-stack
