---
apiVersion: v1
kind: Service
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8989
      targetPort: http
      protocol: TCP
  selector:
    app: sonarr
