---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr
  labels:
    app: radarr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`radarr.talos00`)
      kind: Rule
      services:
        - name: radarr
          port: 7878
