---
apiVersion: v1
kind: Service
metadata:
  name: radarr
  labels:
    app: radarr
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 7878
      targetPort: http
      protocol: TCP
  selector:
    app: radarr
